<div class="cover">
  <div class="static-slider-head"
    style="background-image: url(assets/images/innerpage/activities.webp); position: relative; height: 60vh; margin-bottom: 20px; ">
    <div class="container" style="position: absolute; bottom: 0; left:50%; transform: translateX(-50%); width: 100%; ">
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
          <h1 class="titleactivities">NEARBY ATTRACTIONS</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containeractivities">
  <div class="card">
    <div class="card__header">
      <img src="assets/images/innerpage/kravice.webp" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-blue">Waterfalls</span>
      <h4>Explore the Breathtaking Kravice Waterfalls</h4>
      <p style="text-align: justify;">
        Discover the natural wonder of Kravice Waterfalls, one of the most stunning attractions in Bosnia and Herzegovina.
        Surrounded by lush greenery, these cascading falls create a magical setting perfect for swimming, relaxing, or simply enjoying the view.
        Whether you're looking to cool off in crystal-clear waters or enjoy a peaceful picnic nearby, Kravice offers a refreshing escape into nature that will leave you amazed.
      </p>
    </div>
    <div class="card__footer">
      <div class="user">
        <img src="assets/images/logos/logo.png" alt="user__image" class="user__image"
          style="width: 44px; height: 44px; margin-bottom: 5px;">
        <div class="user__info">
          <h5></h5>
          <small>Camping Neretva</small>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__header">
      <img src="assets/images/innerpage/tourist.webp" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-brown">Hiking</span>
      <h4>Mountain Exploration Adventures</h4>
      <p style="text-align: justify;">The camp provides various opportunities to explore the surrounding mountainous
        areas, including the Prenj, Čvrsnica, and Velež mountains. Our hiking tour takes you through enchanting
        landscapes where you can enjoy unspoiled nature, wild flower meadows, and impressive viewpoints offering
        unforgettable vistas of the surrounding mountains and valleys.</p>
    </div>
    <div class="card__footer">
      <div class="user">
        <img src="assets/images/logos/logo.png" alt="user__image" class="user__image"
          style="width: 44px; height: 44px; margin-bottom: 5px;">
        <div class="user__info">
          <h5></h5>
          <small>Camping Neretva</small>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__header">
      <img src="assets/images/innerpage/blagaj.webp" alt="card__image" class="card__image" width="600">
    </div>
    <div class="card__body">
      <span class="tag tag-red">Nature</span>
      <h4>Discover the Serenity of Blagaj and the Source of the Buna River</h4>
      <p style="text-align: justify;">
        Blagaj is a hidden gem of Herzegovina, known for its stunning natural beauty and historical significance. 
        Located at the spring of the Buna River, it is home to the famous Dervish Monastery built into a cliff. 
        Visitors can enjoy the peaceful atmosphere, crystal-clear waters, and authentic local cuisine while exploring 
        this unique blend of nature and culture. Blagaj is a perfect escape for those seeking tranquility and inspiration.
      </p>
    </div>    
    <div class="card__footer">
      <div class="user">
        <img src="assets/images/logos/logo.png" alt="user__image" class="user__image"
          style="width: 44px; height: 44px; margin-bottom: 5px;">
        <div class="user__info">
          <h5></h5>
          <small>Camping Neretva</small>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>