<div class="cover">
    <div class="static-slider-head" style="background-image: url(assets/images/innerpage/activities.jpg); position: relative; height: 60vh; margin-bottom: 20px; ">
      <!-- Promijenjena visina slike na 60vh -->
      <div class="container" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%; ">
        <!-- Stilovi za apsolutno pozicioniranje i centraliziranje -->
        <!-- Row  -->
        <div class="row justify-content-center">
          <!-- Column -->
          <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
            <h1 class="titleactivities">ACTIVITIES</h1>
          </div>
          <!-- Column -->
        </div>
      </div>
    </div>
  </div>

  <!---
<div class="maincontainer" style="margin-left: 0px!important; font-family: Kanit, sans-serif ">
  
    <div class="row justify-content-center text-center">
        <h2 class="title2"  style="font-family: Kanit, sans-serif; text-align: center; margin-top: 30px;">ACTIVITIES AND THINGS TO DO AROUND CAMPING NERETVA</h2>
    </div>
    <div class="row2" style="display: flex;" >
      <div class="col-md-6 col-sm-12 text-md-left" style="font-family: Kanit, sans-serif; margin-top: 30px;" >
        <p style="font-family: Kanit Alternates, sans-serif" style=" text-align: justify; font-size: large;">
            Explore Mostar's exhilarating rafting tours this year, offering a fresh perspective on the city coupled with an adrenaline rush. Nestled along the Neretva River, our camp promises an unforgettable journey down rapid waters amidst pristine nature. But the adventure doesn't end there. Venture into the surrounding mountains Prenj, Čvrsnica, and Velež on our hiking tours. Immerse yourself in enchanting landscapes, and breathtaking viewpoints. For added excitement, opt for quad biking or cross motorcycle rentals to zip through natural trails with a thrilling twist.
        </p>
        </div>
        <div class="col-md-6 col-sm-12 text-md-right">
            <img src="../assets/images/innerpage/tourist.jpg" class="rounded img-responsive" alt="campingneretva" />

        </div>
        
      </div>
    -->

    <div class="container">
        <div class="card">
          <div class="card__header">
            <img src="assets/images/innerpage/raftingg.jpg" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Rafting</span>
            <h4>Thrilling Rafting Adventures in Mostar</h4>
            <p style="text-align: justify;">This year's offerings bring exciting rafting tours of Mostar, allowing you to experience the city from an entirely new perspective with a dose of adrenaline to awaken your adventurous side. Given the camp's attractive location along the Neretva River, prepare for an unforgettable experience descending through fast-flowing waters, surrounded by untouched nature that will captivate you with its beauty.</p>
          </div>
          <div class="card__footer">
            <div class="user">
                <img src="assets/images/logos/logo.png" alt="user__image" class="user__image" style="width: 44px; height: 44px; margin-bottom: 5px;">
                <div class="user__info">
                    <h5></h5>
                    <small>Camping Neretva</small>
                  </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <img src="assets/images/innerpage/tourist.jpg" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-brown">Hiking</span>
            <h4>Mountain Exploration Adventures</h4>
            <p style="text-align: justify;">The camp provides various opportunities to explore the surrounding mountainous areas, including the Prenj, Čvrsnica, and Velež mountains. Our hiking tour takes you through enchanting landscapes where you can enjoy unspoiled nature, wild flower meadows, and impressive viewpoints offering unforgettable vistas of the surrounding mountains and valleys.</p>
          </div>
          <div class="card__footer">
            <div class="user">
                <img src="assets/images/logos/logo.png" alt="user__image" class="user__image" style="width: 44px; height: 44px; margin-bottom: 5px;">
                <div class="user__info">
                    <h5></h5>
                    <small>Camping Neretva</small>
                  </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card__header">
            <img src="assets/images/innerpage/quad.jpg" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-red">Driving</span>
            <h4>Rev Up Your Adventure</h4>
            <p style="text-align: justify;">For those seeking an extra thrill, we offer the option of quad biking or renting cross motorcycles. This is a fantastic way to explore the camp's surroundings in a fast and dynamic manner, simultaneously experiencing the excitement of riding through natural trails and pathways.</p>
          </div>
          <div class="card__footer">
            <div class="user">
                <img src="assets/images/logos/logo.png" alt="user__image" class="user__image" style="width: 44px; height: 44px; margin-bottom: 5px;">
                <div class="user__info">
                    <h5></h5>
                    <small>Camping Neretva</small>
                  </div>
            </div>
          </div>
        </div>
      </div>
  


  <app-footer></app-footer>