<div class="static-slider-head" style="background-image:url(assets/images/landingpage/banner-bg.jpg)">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
            <div class="col-lg-9 col-md-6 align-self-center text-center" data-aos="fade-up" data-aos-duration="1200">
                <h1 class="title">Camping Neretva</h1>                
                </div>
            <!-- Column -->
        </div>
    </div>
</div>
