<div class="main">
  <div class="static-slider-head" style="background-image: url(assets/images/innerpage/naturee.jpg); position: relative; height: 60vh;">
    <!-- Promijenjena visina slike na 60vh -->
    <div class="container" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;">
      <!-- Stilovi za apsolutno pozicioniranje i centraliziranje -->
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
          <h1 class="title">CONTACT</h1>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</div>


  <div class="container text-center">
    <div class="round-social light mb-3">
      <p class="mb-3">SOCIAL MEDIA</p>
      <a href="https://www.facebook.com/p/Camping-Neretva-100063102887726/" class="link"><i class="fa fa-facebook"></i></a>
      <a href="https://www.youtube.com/@campingneretva6577" class="link"><i class="fa fa-youtube-play"></i></a>
      <a href="https://www.instagram.com/campingneretva/?hl=en" class="link"><i class="fa fa-instagram"></i></a>
    </div>
    <h4 class="mb-1"><i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps?q=43.3645,17.8159" target="_blank"> Sjeverni Logor, Mostar 88000, Bosnia & Herzegovina</a></h4>
    <h4 class="mb-3"><i class="fas fa-phone"></i> +387 61 808 564</h4>
     <div class="mt-3 copyright">
      <a>Camping Neretva</a>
    </div>
  </div>


