<div class="cover">
  <div class="static-slider-head" style="background-image: url(assets/images/innerpage/naturee.jpg); position: relative; height: 60vh;">
    <!-- Promijenjena visina slike na 60vh -->
    <div class="container" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;">
      <!-- Stilovi za apsolutno pozicioniranje i centraliziranje -->
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
          <h1 class="title">CONTACT</h1>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</div>

<div class="maincontainer" style="background: #ebf0ed; margin-left: 0px!important; font-family: Kanit, sans-serif ">
  <div class="row2" >
    <div class="col-md-6 col-sm-12 text-md-left" style="font-family: Kanit, sans-serif; margin-top: 30px;" >
      <!-- Dodajte boju pozadine prema vašim preferencijama -->
      <div class="mb-3 copyright">
        <h2 class="title2"  style="font-family: Kanit, sans-serif">Camping Neretva</h2>
        <h4 class="text-black">Mostar</h4>
      </div>
      <h4 class="mb-3 text-black"><i class="fas fa-map-marker-alt"></i> Sjeverni Logor, Mostar 88000, Bosnia & Herzegovina</h4>
      <h4 class="mb-3 text-black"  style="font-family: Kanit, sans-serif"><i class="fas fa-phone"></i> +387 61 808 564</h4>
      <h4 class="mb-3 text-black"  style="font-family: Kanit, sans-serif"><i class="fas fa-envelope"></i> campingneretva@gmail.com</h4>
      <div class="message">
        <form action="" class="sign-in-form" method="POST">
          <h2 class="title2" style="font-family: Kanit, sans-serif">Contact us</h2>
          <div class="input-field row">
            <!-- Ime polje -->
            <div class="col-md-6">
              <label for="name">Name:</label>
              <input
                type="text"
                required=""
                value=""
                name="Name"
                [(ngModel)]="emailForm.formData.Name"
                #name="ngModel"
                [ngModelOptions]="{standalone: true}"
                id="name"
                class="ng-touched"
              />
              <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                <div *ngIf="name?.errors?.required" class="error-message">Enter your name</div>
              </div>
            </div>
            <!-- Email polje -->
            <div class="col-md-6">
              <label for="email">Email:</label>
              <input
                type="text"
                required
                name="Email"
                [(ngModel)]="emailForm.formData.Email"
                #email="ngModel"
                [ngModelOptions]="{standalone: true}"
                id="email"
                class="ng-touched"
              />
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)">
                <div *ngIf="email?.errors?.required" class="error-message">Enter your email</div>
              </div>
            </div>
          </div>
          <div class="input-message">
            <label for="message">Message:</label>
            <textarea id="message" name="message" [(ngModel)]="emailForm.formData.Message" class="custom-textarea"></textarea>
          </div>
          <input type="submit" value="SUBMIT" class="btn" (click)="sendMessage()" [disabled]="isSubmitDisabled()">
          <div *ngIf="(name?.invalid && (name?.dirty || name?.touched)) || (email?.invalid && (email?.dirty || email?.touched))">
            <div *ngIf="(name?.errors?.required) || (email?.errors?.required)" class="error-message">
                Please fill in the required fields</div>
          </div>
        </form>
      </div>
      
    </div>



    <div class="col-md-6 col-sm-12 text-md-right">
      <div style="width: 100%; height: 400px;">
        <!-- Prilagodite visinu prema vašim potrebama -->
        <iframe width="800" height="620" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&height=400&hl=en&q=Camping%20Neretva,%20Sjeverni%20Logor,%20Mostar%2088000%20Mostar+(Camping%20Neretva)&t=&z=15&ie=UTF8&iwloc=B&output=embed"></iframe><script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=398689696008c86e243351b38754c436193ea9b1'></script>      
    </div>
  </div>
</div>



<!--<div class="main">
  <div class="static-slider-head" style="background-image: url(assets/images/innerpage/naturee.jpg); position: relative; height: 100vh; background-size: cover; background-position: center;">
     Promijenjena visina slike na 100vh i dodani stilovi za prikazivanje slike preko cijelog ekrana 
    <div class="container" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;">
     
      <div class="row justify-content-center">

        <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
          <h1 class="title"  style="font-family: Kanit, sans-serif">CONTACT</h1>
        </div>
        <div class="googlemap">
          <iframe width="520" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Camping%20Neretva,%20Sjeverni%20Logor,%20Mostar%2088000%20Mostar+(Camping%20Neretva)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe> <a href='http://maps-website.com/de'>google maps einbinden</a>      </div>

        </div>
        <div class="container text-center">
          <div class="round-social light mb-3 text-center">
            <a href="https://www.facebook.com/p/Camping-Neretva-100063102887726/" class="link"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/@campingneretva6577" class="link"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/campingneretva/?hl=en" class="link"><i class="fab fa-instagram"></i></a>
          </div>
          <h4 class="mb-1 text-white"><i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps?q=43.3645,17.8159" target="_blank" class="text-white"  style="font-family: Kanit, sans-serif"> Sjeverni Logor, Mostar 88000, Bosnia & Herzegovina</a></h4>
          <h4 class="mb-3 text-white"  style="font-family: Kanit, sans-serif"><i class="fas fa-phone"></i> +387 61 808 564</h4>
          <h4 class="mb-3 text-white"  style="font-family: Kanit, sans-serif"><i class="fas fa-envelope"></i> campingneretva@gmail.com</h4>
          <div class="mt-3 copyright">
            <a class="text-white">Camping Neretva</a>
          </div>
    </div>
  </div>
</div> -->
