.banner-innerpage {
    background-size: cover; /* ili druge odgovarajuće vrijednosti */
    height: 65vh; /* Dodajte ovu liniju kako biste osigurali punu visinu */
  }

 
  
  .footer4 {
    font-size: 16px;
    line-height: 1.5; /* Postavite željenu veličinu fonta */
  }
  

  .round-social a i {
    font-size: 24px; /* Postavite željenu veličinu fonta za ikone */
  }

  .round-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Opciono: Postavite željeni razmak između ikona */
    margin-bottom: 20px; 
    /* Postavite željeni razmak ispod društvenih ikona */
  }
  
  .round-social .link {
    display: grid;
    align-items: center;
  }
  

  .row2{
    display: flex;
    flex-wrap: wrap;

  }
 
  
  
  .footer4 p {
    margin-bottom: 10px;
    font-size: 16px;  /* Postavite željeni razmak ispod paragrafa */
  }

  .title{
    margin-bottom: 0;
  }
  

  @media screen and (max-width: 767px) {
    .title {
      font-size: 30px; /* Prilagodite veličinu naslova prema potrebi */
    }
  
    /* Dodatni stilovi za centriranje naslova */
    .static-slider-head .container {
      position: static;
      transform: none;
      text-align: center;
    }
    .text-md-right{
      text-align: center !important;
      margin-top: 30px!important;
      }
  }

  input {
    /*border-radius: 10px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    /*border: 2px solid black !important;*/
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;

}

.custom-textarea {
  /*border: 2px solid black !important;
  border-radius: 10px!important;*/
  width: 100%; 
  height: 150px; 
  background: none;
  border: none;
  outline: none;
  border: 1px solid #bbb;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 20px;
  margin-top: 0.5rem;
}

.btn {
    background: linear-gradient(45deg, #458554, #959a96);
    margin-top: 10px;
}

.text-md-right{
text-align: center !important;
margin-top: 30px!important;
}

/* Prilagođavanje veličine mape za manje ekrane */
@media only screen and (max-width: 600px) {
  #gmap_canvas {
    width: 100%;
    height: 300px; /* Podesite željenu visinu za manje ekrane */
  }
}
