<div class="footer4 b-t spacer" style="background: linear-gradient(45deg, #4a8658, #218838); color: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-md-left">
        <div class="round-social light mb-3">
          <a href="https://www.facebook.com/p/Camping-Neretva-100063102887726/" class="link"><i class="fa fa-facebook"></i></a>
          <a href="https://www.youtube.com/@campingneretva6577" class="link"><i class="fa fa-youtube-play"></i></a>
          <a href="https://www.instagram.com/campingneretva/?hl=en" class="link"><i class="fa fa-instagram"></i></a>
        </div>
        <h6 class="mb-3" style="font-family: Montserrat Alternates, sans-serif;color: #ffffff;">
          <i class="fas fa-map-marker-alt"></i>
          <a href="https://www.google.com/maps?q=43.3645,17.8159" target="_blank" style="color: #ffffff; font-family: Montserrat Alternates, sans-serif;">
            SJEVERNI LOGOR, Mostar 88000, Bosnia & Herzegovina
          </a>
        </h6>
        <h6 class="mb-3" style="font-family: Montserrat Alternates, sans-serif;color: #ffffff;">
          <i class="fas fa-phone"></i> +387 61 808 564
        </h6>
        <div class="mt-3 mb-3 copyright">
          <a style="color: #ffffff;">Camping Neretva</a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-md-right">
        <h6 class="mb-3" style="font-family: Montserrat Alternates, sans-serif;color: #ffffff;">
          <i class="fas fa-book"></i>
          <a routerLink="/about" style="color: #ffffff; font-family: Montserrat Alternates, sans-serif;"> ABOUT US</a>
        </h6>
        <h6 class="mb-3" style="font-family: Montserrat Alternates, sans-serif;color: #ffffff;">
          <i class="fas fa-camera"></i>
          <a routerLink="/gallery" style="color: #ffffff; font-family: Montserrat Alternates, sans-serif;"> GALLERY</a>
        </h6>
        <h6 class="mb-3" style="font-family: Montserrat Alternates, sans-serif;color: #ffffff;">
          <i class="fas fa-compass"></i>
          <a href="https://tourmkr.com/F159gWEeDm/41003333p&186.15h&77.67t" target="_blank" style="color: #ffffff;"> 360° VIEW</a>
        </h6>
        <h6 class="mb-3" style="font-family: Montserrat Alternates, sans-serif;color: #ffffff;">
          <i class="fas fa-calendar-check"></i>
          <a routerLink="/reservation" style="color: #ffffff; font-family: Montserrat Alternates, sans-serif;"> RESERVATION </a>
        </h6>
      </div>
    </div>
  </div>
</div>
