<!--
<div class="main">
  <div class="static-slider-head" style="background-image: url(assets/images/landingpage/campview.jpg); position: relative; height: 60vh;">

    <div class="container" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;">
     
      <div class="row justify-content-center">
        <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
          
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="slider">
  <!-- list Items -->
  <div class="list">
    <div class="item" *ngFor="let item of items; let i = index" [class.active]="i === itemActive">
      <img [src]="item.imageSrc">
      <div class="content">
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </div>
    </div>
  </div>
  <div class="thumbnail">
    <svg class="indicator" *ngFor="let _ of items; let i = index" [class.active]="i === itemActive" (click)="thumbnailClick(i)">
      <circle cx="12" cy="12" r="8" fill="white"></circle>
        </svg>
  </div>
 
  
</div>


<!--
  <div class="main"> <div class="static-slider-head"> 
  <video id="myVideo" [src]="videoSource"  muted loop autoplay loading="lazy"></video>
</div>
<div class="row justify-content-center mt-3 mb-3">
  <h1 class="title">Discover Our Best Offer</h1>
</div>

<div class="touchSlider">
  <app-touch-slider [images]="images"></app-touch-slider>

-->
<div class="container spacer2 text-center">
  <h1 class="title" style="color: #343a40; font-family: Montserrat Alternates, sans-serif; font-weight: bold;">WELCOME TO CAMPING NERETVA</h1>
  <div class="previous-div"></div>
  <div class="row justify-content-center">
    <!-- Povećajte širinu unutrašnjeg div-a na col-md-10 -->
    <div class="col-md-10 no-trans text-center" style="background-color: #f8f9fa; padding: 30px; margin-bottom: 0px;">
      <p class="text-justify" style="font-weight: bold; margin-bottom: 15px;">
        At the heart of Mostar is Camping Neretva, your gateway to unforgettable adventures. The camp offers the perfect blend of comfort and direct contact with nature. Situated right along the banks of the Neretva, the camp provides spectacular views and access to a variety of water activities.
      </p>
      <p class="text-justify" style="font-weight: bold;">
        Whether you enjoy camping under the open sky, exploring the surroundings on a bicycle, or relaxing to the sounds of the river, Camping Neretva promises a unique experience that will awaken your adventurous spirit. Visit us and experience the fusion of nature, culture, and excitement in the heart of this irresistible part of Bosnia and Herzegovina.
      </p>
    </div>
  </div>
  <div class="row justify-content-center text-center">
    <div class="col-md-4">
      <img src="assets/images/landingpage/mount.png" class="img-fluid icon-image mx-auto"> <!-- Dodane klase mx-auto -->
      <h6 class="icon-text" style="color: #343a40; font-family: Montserrat Alternates, sans-serif; font-weight: bold;">EXPLORE NEARBY MOUNTAINS</h6>
      <p class="icon-text">Prenj, Čvrsnica, Velež</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/landingpage/sun.png" class="img-fluid icon-image mx-auto"> <!-- Dodane klase mx-auto -->
      <h6 class="icon-text" style="color: #343a40; font-family: Montserrat Alternates, sans-serif; font-weight: bold;">ENJOY SUNNY DAYS</h6>
      <p class="icon-text">Explore the beauty of Mostar and the Neretva River</p>
    </div>
    <div class="col-md-4">
      <img src="assets/images/landingpage/river.png" class="img-fluid icon-image mx-auto"> <!-- Dodane klase mx-auto -->
      <h6 class="icon-text" style="color: #343a40; font-family: Montserrat Alternates, sans-serif; font-weight: bold;">THE PERFECT LOCATION</h6>
      <p class="icon-text">Only 3km from Old Bridge</p>
    </div>
</div>

</div>

<app-video></app-video>
<!-- Row  -->
<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center" style="background-color: #f8f9fa; padding: 20px;">
      <h2 class="title" style="color: #343a40;    font-family: Montserrat Alternates, sans-serif; font-weight: bold;">Discover Our Special Offers</h2>
      <h6 class="subtitle" style="color: #6c757d;    font-family: Montserrat Alternates, sans-serif;">
        Special Offers Just for You
      </h6>
    </div>

    
    <div class="container2">
      <div class="card__container">
         <article class="card__article">
          <img src="assets/images/innerpage/rafting.jpg" alt="image" class="card__img">

            <div class="card__data">
               <span class="card__description">Witness the breathtaking highlights from our exhilarating raft tours.</span>
               <h2 class="card__title">Raft tour</h2>
               <a href="#" class="card__button">Read More</a>
            </div>
         </article>

         <article class="card__article">
          <img src="assets/images/innerpage/mountain.jpg" alt="image" class="card__img">

            <div class="card__data">
               <span class="card__description">Explore the surrounding mountainous areas</span>
               <h2 class="card__title">Tours in the Mountains</h2>
               <a href="#" class="card__button" (click)="viewDetail(2)">Read More</a>
            </div>
         </article>

         <article class="card__article">
          <img src="assets/images/innerpage/quad.jpg" alt="image" class="card__img">

            <div class="card__data">
               <span class="card__description">Explore the Wild Side</span>
               <h2 class="card__title">Quad biking or renting cross motorcycles</h2>
               <a href="#" class="card__button">Read More</a>
            </div>
         </article>
      </div>
   </div>

</div>
</div>
<app-footer #footer style="margin-bottom: 0;"></app-footer>


