<div class="main"> <div class="static-slider-head"> 
  <video id="myVideo" [src]="videoSource" muted loop autoplay></video>
</div>

<!--
<div class="row justify-content-center mt-3 mb-3">
  <h1 class="title">Discover Our Best Offer</h1>
</div>

<div class="touchSlider">
  <app-touch-slider [images]="images"></app-touch-slider>

-->


<!-- Row  -->
<div class="container spacer">
  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center" style="background-color: #f8f9fa; padding: 20px;">
      <h2 class="title" style="color: #343a40;">Discover Our Special Offers</h2>
      <h6 class="subtitle" style="color: #6c757d;">
        Special Offers Just for You
      </h6>
    </div>
    
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div
      class="col-md-8 no-trans border-bottom mb-4"
      *ngFor="let bl of service.Blogs"
    >
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans">
            <img src="{{ bl.image }}" alt="{{ bl.heading }}" class="img-fluid img-thumbnail" />
            <h6 class="card-subtitle font-12 mt-1">Camping Neretva</h6>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">
              {{ bl.heading.substring(0, 50) }}
            </h5>
            <p class="m-t-20">
              {{ bl.subHeading }}
            </p>
          </div>
          <div class="col-md-3 no-trans">
            <a
              class="linking font-medium text-themecolor m-t-10 cursor-pointer"
            >
              <span (click)="viewDetail(bl.id)">Show Detail</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="previous-div"></div>
<div class="text-content">
  <p class="text-center">
    At the heart of Mostar is Camping Neretva, your gateway to unforgettable adventures. The camp offers the perfect blend of comfort and direct contact with nature. Situated right along the banks of the Neretva, the camp provides spectacular views and access to a variety of water activities.
  </p>
  <p class="text-center">
    Whether you enjoy camping under the open sky, exploring the surroundings on a bicycle, or relaxing to the sounds of the river, Camping Neretva promises a unique experience that will awaken your adventurous spirit. Visit us and experience the fusion of nature, culture, and excitement in the heart of this irresistible part of Bosnia and Herzegovina.
  </p>
</div>

<app-video></app-video>

</div>
<app-footer #footer></app-footer>