.touchSlider {
    width: 800px;
    height: 500px;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.text-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify; 
    font-size: 1.0em;
  }
  .previous-div {
    margin-bottom: 50px;
  }
  
  .video-container {
    position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
  }
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

#youtube-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  border: none;
  overflow: hidden;
  background-color: transparent; 
}

.video-container iframe {
  width: 100%;
  height: 100%;
  transform: translateY(-25%); 
}

#youtube-player:hover .ytp-chrome-top,
#youtube-player:hover .ytp-chrome-bottom {
    display: none !important;
}

.static-slider-head {
  position: relative;
}

.static-slider-head video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 5%;
  /* opacity */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
  z-index: 1; /* Set a higher z-index than other elements inside static-slider-head */
}

.row.justify-content-center.mt-3.mb-3,
.touchSlider {
  position: relative;
  z-index: 2; /* Set a higher z-index than the overlay */
}

.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.container.spacer {
  min-height: 900px; /* Prilagodite visinu prema vašim potrebama */
  min-width: 1500px; /* Prilagodite širinu prema vašim potrebama */
}

@media (max-width: 767px) {
  .container.spacer {
    min-height: auto; /* Poništavanje visine na mobilnim uređajima, možete postaviti na auto ili drugu vrijednost */
    min-width: auto;  /* Poništavanje širine na mobilnim uređajima, možete postaviti na auto ili drugu vrijednost */
  }
}

/* Primjer prilagodbe veličine teksta na mobilnim uređajima */
@media (max-width: 767px) {
  .col-md-2 {
    font-size: 12px;
    margin-left: 2px; /* Prilagodite veličinu teksta prema potrebi */
  }
  
  /* Dodatne prilagodbe prema potrebi */
}


/* Default stilovi koji se primjenjuju na sve veličine ekrana */
.col-md-2 h6.card-subtitle {
  white-space: nowrap; /* Sprječava prelazak teksta u novi red */
  overflow: hidden; /* Sakriva eventualni višak teksta */
  text-overflow: ellipsis; /* Dodaje "..." ako je tekst predug */
}

/* Stilovi za manje ekrane, poput mobilnih uređaja */
/* Dodatni stilovi za poboljšanje vidljivosti teksta na mobilnim uređajima */
/* Dodatni stilovi za poboljšanje vidljivosti teksta na mobilnim uređajima */
@media (max-width: 767px) {
  .col-md-2 {
    text-align: center; /* Centriranje teksta na mobilnim uređajima */
  }

  .col-md-2 h6.card-subtitle {
    margin: 0; /* Uklanjanje margina kako bi tekst bio bliže rubovima */
    padding: 5px; /* Dodavanje dodatnog prostora oko teksta */
    background-color: #f8f9fa; /* Dodavanje pozadinske boje kako bi tekst bio bolje vidljiv */
    display: inline-block; /* Ovo može pomoći u rješavanju problema s prikazom na nekim uređajima */
    max-width: 100%; /* Ovo ograničava širinu na maksimalnu dostupnu širinu roditeljskog elementa */
  }
}

/* CSS */
@media (max-width: 767px) {
  .blog-heading,
  .blog-subheading {
    text-align: center;
    margin: 0;
    padding: 5px;
    max-width: 100%;
  }
}


.title {
  font-family: 'BebasNeue-Bold', sans-serif;
  font-weight: 50;
  font-style: normal;
  font-size: xx-large;
}


.rounded-image {
  border-radius: 10px; /* Prilagodite vrijednost prema vašim preferencama */
}

/* Dodajte ovo na dno vašeg CSS-a ili styles.scss fajla */

/* Dodajte ovo u stilizaciju vaše Angular komponente */

/* Dodajte ovo u vaš CSS stil ili styles.scss fajl */

@media (max-width: 767px) {
  .blog-text {
    text-align: center;
  }

  .blog-text img {
    max-width: 100%; /* Maksimalna širina slika će biti 100% širine roditeljskog elementa */
    display: inline-block; /* Omogućuje centriranje slike */
    margin: 0 auto; /* Automatsko centriranje slike */
  }

  .blog-heading,
  .blog-subheading {
    text-align: center;
  }
}

.icon-image {
  width: 100%;
}

.container-spacer2{
  font-family: 'BebasNeue-Bold', sans-serif;

}

@media (max-width: 767px) {
  .icon-image {
    width: 50%; /* Prilagodite veličinu slika prema vašim željama */
    height: auto;
  }
}
@media (max-width: 767px) {
.blog-image {
  height: 200px; /* Set the desired height for the images */
  width: auto; /* Auto-adjust width to maintain aspect ratio */
  border: none; /* Remove the border around the images */


}
.blog-heading {
  font-size: 24px; 
  font-family: 'BebasNeue-Bold', sans-serif;
}
}

.blog-heading {
  font-family: 'BebasNeue-Bold', sans-serif;
}

.blog-image {
  border: none; /* Remove the border around the images */

}

.custom-rounded-button {
  border-radius: 80px; /* Adjust the border-radius as needed */
}


.blog-text{
  font-family: "Montserrat Alternates", sans-serif;

}

.blog-heading {
  font-family: "Montserrat Alternates", sans-serif !important;
}

@media (max-width: 767px) {
  .row {
    margin-left: 10px; /* Prilagodite lijevu marginu prema potrebi */
    margin-right: 10px; /* Prilagodite desnu marginu prema potrebi */
  }
}


/* ZA SLIDER */
svg{
  width: 25px;
}
header{
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
header .logo{
  font-weight: bold;
}
header .menu{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}
/* css slider */
.slider{
  height: 95vh;
  margin-top: -50px;
  position: relative;
}
.slider .list .item{
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: .5s;
}
.slider .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(
      to top, #000 15%, transparent
  );
}
.slider .list .item .content{
  position: absolute;
  left: 10%;
  top: 80%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1){
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2{
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active{
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to{
      transform: translateY(0);
      filter: blur(0);
      opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
  animation-duration: 1.3s;
}
.arrows{
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button{
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: .5s;
}
.arrows button:hover{
  background-color: #eee;
  color: black;
}


.indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ffffff; /* Set the default color */
  margin: 0 5px; /* Adjust the margin as needed */
  cursor: pointer;
}

.indicator.active {
  background-color: #436137; /* Set the active color */
}


.thumbnail{
  position: absolute;
  bottom: 10px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar{
  width: 0;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  filter: brightness(.5);
  transition: .5s;
  flex-shrink: 0;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active{
  filter: brightness(1.5);
}
.thumbnail .item .content{
  position: absolute;
  inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
  .thumbnail{
      justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 24px; /* Adjust font size for better visibility */
    display: block;
    text-align: center; /* Center the text */
  }
  .arrows{
      top: 10%;
  }
}

@media (max-width: 767px) {
  .thumbnail {
    flex-direction: row;
    display: block;
  }
}