
<div class="main">
  <div class="static-slider-head" style="background-image: url(assets/images/landingpage/firee.jpg); position: relative; height: 60vh;">
    <!-- Promijenjena visina slike na 60vh -->
    <div class="container" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 100%;">
      <!-- Stilovi za apsolutno pozicioniranje i centraliziranje -->
      <!-- Row  -->
      <div class="row justify-content-center">
        <!-- Column -->
        <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
          <h1 class="title">ABOUT</h1>
        </div>
        <!-- Column -->
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- Feature 22  -->
<!-- ============================================================== -->

<div class="spacer feature22">
  <div class="container">
    <app-top-content></app-top-content>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 22  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Feature 1  -->
<!-- ============================================================== -->
<div class="bg-light spacer feature1">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <div class="col-md-7 text-center no-trans"  style="font-weight: bold;">
        <h2 class="title"> Services we offer </h2>
        <h6 class="subtitle"  style="font-weight: bold;">
          Here you can see the list of services that we offer that will complete your camp experience
        </h6>
      </div>
    </div>
    <app-relay-on></app-relay-on>
  </div>
</div>
<!-- ============================================================== -->
<!-- End Feature 1  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Call to action -->
<!-- ============================================================== -->

<div class="spacer">
  <div class="container">
    <h2 class="title text-center"> More about camp </h2>
    
<!-- Treći div sa slikama i paragrafima (ispod postojećeg rasporeda) -->
<div class="row justify-content-center m-b-30" style="margin-top: 40px;">
  <!-- Slika 3 i paragraf 3 -->
  <div class="col-md-4 text-center no-trans" style="font-family: Montserrat Alternates, sans-serif">
    <div class="content-with-image">
      <img src="assets/images/innerpage/mostar2.JPG" alt="Image 3" class="img-fluid rounded-image">
    </div>
    <h6 style="font-family: Montserrat Alternates, sans-serif"> 
      The camp, which opened its doors in 2019, is located in a highly favorable geographical position near the city of Mostar, right along the picturesque Neretva River. This place offers the perfect combination of natural surroundings and a pleasant atmosphere, making it an ideal destination for adventure and nature enthusiasts.    </h6>
  </div>


      <!-- Slik<div class="col-md-4 text-center no-trans" style="font-family: Montserrat Alternates, sans-serif">
    <div class="content-with-image">a 4 i paragraf 4 -->
      <div class="col-md-4 text-center no-trans" style="font-family: Montserrat Alternates, sans-serif">
        <div class="content-with-image">
          <img src="assets/images/innerpage/rivernatual.jpg" alt="Image 4" class="img-fluid rounded-image">
        </div>
        
        <h6 style="font-family: Montserrat Alternates, sans-serif">
          With top-notch equipment and expert guides providing support during each activity, our camp becomes your base for unforgettable adventures in the heart of nature. Experience Mostar and its surroundings in a unique way, filled with excitement, the beauty of nature, and unforgettable moments that will be etched in your memory.
        </h6>
      </div>
      
     <!-- Slika 4 i paragraf 4 -->
     <div class="col-md-4 text-center no-trans" style="font-family: Montserrat Alternates, sans-serif">
      <div class="content-with-image">
        <img src="assets/images/innerpage/mostar3.jpg" alt="Image 4" class="img-fluid rounded-image">
      </div>
      
      <h6 style="font-family: Montserrat Alternates, sans-serif">
        Discover the rich cultural heritage surrounding the camp, with opportunities to visit historical sites, taste local cuisine, and immerse yourself in the vibrant traditions of Mostar. Whether you're an adventure seeker or a culture enthusiast, our camp offers a diverse range of experiences to make your stay truly memorable.
      </h6>
    </div>
    
  </div>
</div>
</div>
<app-footer #footer></app-footer>